@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font--roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.description {
  font-size: 30px;
  font-family: var(--font--roboto);
  margin-bottom: 52px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  /* margin: 0 auto; */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  /* -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  cursor: pointer;
  outline: none;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.64);
  position: relative; /* Fix positioning for pseudo-elements */
  transition: all 0.3s ease-in-out; /* Smooth all transitions */
}

.contactBtn::before {
  content: "";
  border-radius: 100px;
  min-width: 210px;
  min-height: 60px;
  border: 6px solid #00a2ff;
  box-shadow: 0 0 60px #85ffe7a3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.contactBtn:hover,
.contactBtn:focus {
  color: #00a2ff;
  transform: translateY(-6px);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7); /* Smooth shadow transition */
}

.contactBtn:hover::before,
.contactBtn:focus::before {
  opacity: 1;
}

.contactBtn::after {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #0b4470;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactBtn:hover::after,
.contactBtn:focus::after {
  animation: none; /* Disable animation on hover */
  display: none;
}

.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.heroimage {
  width: 40%;
  height: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(200px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-height: 250px;
  top: 246px;
  right: 10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(200px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 40px; /* Adjust title size for small screens */
    margin-bottom: 20px;
  }

  .description {
    font-size: 20px; /* Adjust description size */
    margin-bottom: 30px;
    border-right: none; /* Hide typing effect border on small screens */
  }
  .buttons {
    flex-direction: column;
  }
  .heroimage {
    width: 50%; /* Make hero image larger */
    height: auto;
    margin-bottom: 20px; /* Add margin below hero image */
  }

  .topBlur,
  .bottomBlur {
    width: 100vw;
    height: 60vw;
    filter: blur(150px); /* Slightly reduce blur effect */
  }

  .topBlur {
    top: -100px;
    left: 0;
  }

  .bottomBlur {
    top: 200px;
    right: 0;
  }
}
